---
import ResponsiveImage from "./ResponsiveImage.astro";
import Date from "./Date.astro";

const { post } = Astro.props;
const { title, pubDate, summary, coverImage, coverAlt } = post.data;
---

<article>
  <a href={`/blog/${post.slug}/`}>
    <ResponsiveImage
      src={coverImage}
      alt={coverAlt}
      sizes={[550, 650, 750, 850]}
      loading="eager"
      fetchpriority={"high"}
      decoding="sync"
      class="bg-gray-200 shadow rounded object-cover w-full mb-4 lg:h-[30rem]"
    />
  </a>

  <Date date={pubDate} class="text-lg lg:text-xl" />

  <h2 class="mt-3">
    <a
      href={`/blog/${post.slug}/`}
      class="text-2xl lg:text-3xl xl:text-4xl font-serif font-bold">{title}</a
    >
  </h2>

  <div class="mt-6 text-lg md:text-2xl">
    {summary}
  </div>
</article>
